<div class="background">
  <br>
  <div class="row">
    <%= render "nfts/placeholder_card" %>
    <% @nfts.each do |nft| %>
    <%= render "nfts/simple_card", nft: nft %>
    <% end %>
  </div>
  <br>
</div>
