<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cointimes.com.br/wp-content/uploads/2021/10/star-atlas-spaceship-yGG-1024x588.jpg;">
  <div class="container">
    <h1>NFT Solar</h1>
    <p>Welcome to the first NFT rental service for Star Atlas, where you can browse, offer, and rent NFTs for the best gaming experience</p>
    <%= link_to "Sign up now",  new_user_registration_path, class: "btn btn-light" %>
  </div>
</div>
