<div class="row justify-content-center">
  <% @nfts.each do |nft| %>
    <div class="card-product col-3">
      <%= image_tag("https://play.staratlas.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fnft-assets%2Fitems%2FPC9_thumb.jpg&w=3840&q=75", class: "card-img-top", alt: "list placeholder", size:"300x300") %>
      <div class="card-body">
        <h5 class="card-title"><%= nft.name %></h5>
        <h5 class="card-title"><%= nft.wallet_address %></h5>
        <p><%= nft.description %></p>
      </div>
    </div>
  <% end %>
</div>
