<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://miro.medium.com/max/1400/0*lmj9cNRibP-evm2C" class="d-block w-100 carousel-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Make a profile for full access to our NFTs</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i0.wp.com/nftnewstoday.com/wp-content/uploads/2021/08/1Xj84J_mZm02ZPGmouqNtow.png?fit=2560%2C1311&ssl=1" class="d-block w-100 carousel-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Browse the large collection of NFTs available for rental, to enhance your Star Atlas adventure</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images2.alphacoders.com/116/1166542.jpg" class="d-block w-100 carousel-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Earn money by offering your personal NFTs for other players to use</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
