<div class="footer">
  <div class="footer-links">
    <div class="row text-center">
      <a href="https://github.com/rbchapman" target = "_blank"><i class="fab fa-github"></i></a>
      <p>Riley</p>
    </div>
    <div class="row text-center">
      <a href="https://github.com/revdep" target = "_blank"><i class="fab fa-github"></i></a>
      <p>Andrea</p>
    </div>
      <div class="row text-center">
      <a href="https://github.com/Nicoderin98" target = "_blank"><i class="fab fa-github"></i></a>
      <p>Nicolo</p>
    </div>
      <div class="row text-center">
      <a href="https://github.com/franmendonca" target = "_blank"><i class="fab fa-github"></i></a>
      <p>Francisco</p>
    </div>
  </div>
  <div class="footer-copyright">
    NFT Solar© The place for all your favorite NFT's
  </div>
</div>
