<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12 col-6 mb-3">
    <h5>Your Rentals</h5>
    <div class="row">
      <% @rentals.each do |rental| %>
        <div class="col-6">
          <%= render "nfts/simple_card", nft: rental.nft, link_name: 'Show', some_path: nft_path(rental.nft) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-6 col-md-8 col-sm-12 col-6 mb-3">
    <h5>Your NFTs</h5>
    <div class="row">
      <% @nfts.each do |nft| %>
      <div class="col-6">
        <%= render "nfts/simple_card", nft: nft, link_name: 'Edit', some_path: edit_nft_path(nft) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
