.footer {
  // #position:absolute;
  background: rgb(5, 5, 5);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  padding: 0px 20px;
  color: rgba(0,0,0,0.3);
  // bottom: 0;
  // width:100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}

.footer p{
  color: white;
  opacity: 0.8;
  font-size: 12px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-copyright{
  color: white;
  opacity: 0.8;
  margin-bottom: 15px;
  font-size: 12px;
}
