.container-form {
  width: 480px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.rent-form{
  display: flex;
  padding: 50px;
  margin: 0 auto;
  justify-content: right;
  width: 80%
}

.rent-form{
  .btn{
  display: flex;
  }

}
