.index-card {
  --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
  --lightblue: #3D9DEA;
  --darkblue: #4A4EEE;
  --text-color: #D5E1EF;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  // margin-bottom: $grid-gutter-width;

  .overviewInfo, .productSpecifications {
    padding: 24px;
  }

  .overviewInfo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://placehold.it/350x150');
    background-size: cover;
    // background-image: url("https://cdnb.artstation.com/p/assets/images/images/032/506/745/large/mattis-heisler-spaceship-concept-update-11.jpg?1626364727");
    // margin-top: 10px;

    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .productinfo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 200px;
  }
  .grouptext{
    h3 {
        letter-spacing: 3.2px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        color: #D5E1EF;
    }

    p {
      font-size: 12px;
      opacity: 0.9;
      color: #D5E1EF;
      font-weight: 600;
    }
  }

  .productSpecifications{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
      margin-top: 10px;
      margin-bottom: 16px;
      font-size: 32px;
    }
    p {
      opacity: 0.8;
      font-size: 15px;
      line-height: 1.5;
  }

    .productFeatures {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
      grid-row-gap: 16px;
      .feature{ display:flex;}
    }
  }
  .checkoutButton {
      display: flex;
      width: 100%;
      background-image: var(--bg-shape-color);
      border-radius: 12px;
      overflow: hidden;
      box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1), 2px 2px 3px 0px rgba(12, 12, 12, 0.3), inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
      margin-top: 30px;
      padding: 14px;

      justify-content: space-between;
      align-items: center;
  }

  .priceTag {
      display: flex;
      align-items: center;
      font-size: 32px;
      color: lightgray;
  }

  .priceTag span {
      color: #488dc7;
      font-size: 20px;
  }

  .buttonShow {
    align-items: end;
    text-align: center;
    border-radius: 5px;
    display: flex;
   justify-content: flex-end;
  }
}
