.navbar-lewagon {
  justify-content: space-between;
  text-align: center;
  background: white;
  width: 100%;
  margin: 0;
  opacity: 0.8;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
