.show-card {
  overflow: hidden;
  max-width: 90%;
  background: rgb(50,56,77);
  background: linear-gradient(90deg, rgba(50,56,77,1) 35%, rgba(17,23,34,1) 100%);
  box-shadow: 0 0 10px rgba(238, 237, 237, 0.2);
  display: flex;
  align-items: start;
  border-radius: 5px;
  position: relative;
  padding-left: 0px;
}

// .show-card img {
//   height: 100%;
//   width: 40%;
//   object-fit: cover;
// }

.show-card h2 {
  font-size: 25px;
  color: gray;
  font-weight: bold;
  color: rgb(167, 164, 164);
  align-items: start;
  margin: 0;
  border-radius: 5px;
}

.show-card h5 {
  font-size: 18px;
  color: gray;
  font-weight: bold;
  color: rgb(167, 164, 164);
  align-items: start;
  margin: 0;
  border-radius: 5px;
}

.show-card p {
  font-size: 12px;
  line-height: 1.4;
  align-items: center;
  color: lightgray;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-card .show-card-infos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  flex-grow: 1;
  height: 100%;
}

.price {
  position: relative;
  align-items: end;
  text-align: right;
  font-size: 12px;
}

.btn-close {
  // display: flex;
  // text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: white;

}

.fa-times:before {
  color: white;
}

.background-show{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
